<cds-alert-group status="info">
    <cds-alert>
        <cds-icon shape="help"></cds-icon><strong>@Title</strong> Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2137813">brief
            survey</a> and tell us what you think.
    </cds-alert>
</cds-alert-group>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
