@if (showAlert) {
    <cds-alert-group status="info">
        <cds-alert closable @onclosechange="@HandleCloseChange">
            Take a <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2137813">brief
                survey</a> and tell us what you think.
        </cds-alert>
    </cds-alert-group>
}

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    private bool showAlert = true;

    private void ToggleAlert()
    {
        showAlert = !showAlert;
    }

    void HandleCloseChange(CloseChangeEventsArgs e)
    {
        Console.WriteLine("e returns? " + e.Wat);
        ToggleAlert();
    }


    [EventHandler("onclosechange", typeof(CloseChangeEventArgs), true, true)]
    public static class EventHandlers
    {
    }
}
